#wrapper {
	float: left;
	width: 100%;
	margin-left: -25%
}

#content {
	margin: 0 200px 0 25%
}

#navigation {
	float: left;
	width: 200px;
	margin-left: -200px
}

#extra {
	float: left;
	width: 25%
}

#footer {
	clear: left;
	width: 100%
}