/**
* grid-layout adopted from Alessandro Fulciniti
* @see http://pro.html.it
*/
#wrapper {
	float: left;
	width: 100%;
}

#content {
	margin: 0 25%;
}

#navigation {
	float: left;
	width: 25%;
	margin-left: -100%;
}

#extra {
	float: left;
	width: 25%;
	margin-left: -25%;
}

#footer {
	clear: left;
	width: 100%;
}

