#wrapper {
	float: left;
	width: 100%
}

#content {
	margin-right: 50%
}

#navigation {
	float: left;
	width: 25%;
	margin-left: -50%
}

#extra {
	float: left;
	width: 25%;
	margin-left: -25%
}

#footer {
	clear: left;
	width: 100%
}