#container {
	width: 700px;
	margin: 0 auto
}

#wrapper {
	float: left;
	width: 100%
}

#content {
	margin-left: 300px
}

#navigation {
	float: left;
	width: 150px;
	margin-left: -700px
}

#extra {
	float: left;
	width: 150px;
	margin-left: -550px
}

#footer {
	clear: left;
	width: 100%
}