#wrapper {
	float: right;
	width: 100%;
	margin-left: -400px
}

#content {
	margin-left: 400px
}

#navigation {
	float: left;
	width: 200px
}

#extra {
	float: right;
	width: 200px
}

#footer {
	clear: both;
	width: 100%
}