#container {
	width: 700px;
	margin: 0 auto
}

#content {
	float: left;
	width: 500px
}

#navigation {
	float: right;
	width: 200px
}

#extra {
	float: left;
	width: 500px
}

#footer {
	clear: both;
	width: 100%
}