body {
	font-size: 77%; /* always use percentage! @see http://developer.yahoo.com/yui/fonts/#using for conversion table */
}

p {
	margin: 0 10px 10px;
}

a {
	display: block;
	color: #981793;
	padding: 10px;
}

.header h1 {
	height: 80px;
	line-height: 80px;
	margin: 0;
	padding-left: 10px;
	background: #EEE;
	color: #79B30B;
}

.content p {
	line-height: 1.4;
}

.navigation {
	background: #B9CAFF;
}

.extra {
	background: #FF8539;
}

.footer {
	background: #333;
	color: #FFF;
}

.footer p {
	margin: 0;
	padding: 5px 10px;
}