#container {
	width: 930px;
	margin: 0 auto
}

#content {
	float: left;
	width: 730px
}

#navigation {
	float: right;
	width: 200px
}

#extra {
	float: right;
	clear: right;
	width: 200px
}

#footer {
	clear: both;
	width: 100%
}



/* pad and mobile */


@media only screen and (max-width: 929px) {

  #container {
    max-width: 730px;
    height: 100%;
  }

  #content {
    max-width: 100%;
  }

}


@media only screen and (max-width: 729px) {

  #container {
    max-width: 100%;
  }

}
