/**
* print.css This file will ommit all parts of the page except the content itself.
*
* For production use we would usually display something like a logo.
*/

html, body {
	background: #FFFFFF;
}

/* == Container == */
.container {
  height: 100%;
  width: 731px !important;
}

/* .header,
.navigation,
.extra,
.footer {
	display: none;
} */
/*%! .header-table {
  column-width: 731px !important;
} */
.print-header-image {
  position: relative;
  left: -100px;
}
.header-links,
.navigation,
.extra {
  display: none;
}
.footer-extra-table {
  display: block;
}

/* == Content == */
	.content {
		background: #FFFFFF;

    height: 100%;
    overflow: visible;
	}

/* Shadows */
.main-shadow-5-5-20/*, .tools-class-fig*/ {
  -webkit-box-shadow: none;  /* #: Safari */
  -moz-box-shadow: none;  /* #: Mozilla */
  -o-box-shadow: none;  /* #: Opera */
  -ms-box-shadow: none;  /* #: Internet Explorer */
  box-shadow: none;  /* #: Standard */
}
.main-shadow-0-5-30 {
  -webkit-box-shadow: none;  /* #: Safari */
  -moz-box-shadow: none;  /* #: Mozilla */
  -o-box-shadow: none;  /* #: Opera */
  -ms-box-shadow: none;  /* #: Internet Explorer */
  box-shadow: none;  /* #: Standard */
}


/* Tools Classes */

.tools-class-fig, .tools-class-vid {
  /* shadow */
  -webkit-box-shadow: none;  /* #: Safari */
  -moz-box-shadow: none;  /* #: Mozilla */
  -o-box-shadow: none;  /* #: Opera */
  -ms-box-shadow: none;  /* #: Internet Explorer */
  box-shadow: none;  /* #: Standard */
}
